* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body { position: relative; font-size: 12px; line-height: 1.5; color: #303133; font-family: '微软雅黑'; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; }
ul { list-style: none; }
img { border: 0; }
em { font-style: normal; }
.clearfix:after { display: block; height: 0; content: ""; clear: both; }

.default-btn-VNA { display: inline-block; margin-right: 4px; line-height: 18px; font-size: 12px; font-weight: normal; color: #444444; border-radius: 4px; border: 1px solid #dfdfdf; padding: 4px 12px; background-color: #fbfbfb; cursor: pointer; }
.default-btn-VNA.primary { color: #fff; border: 1px solid #409EFF; background-color: #409EFF; }
.default-btn-VNA.primary:hover { border: 1px solid #66b1ff; background-color: #66b1ff; }
.default-btn-VNA.primary.disabled { background: #a0cfff; border: 1px solid #a0cfff; cursor: not-allowed; }
.default-btn-VNA.primary.disabled:hover { cursor: not-allowed; }

.default-warn-btn-VNA { display: inline-block; margin-right: 4px; line-height: 18px; font-size: 12px; font-weight: normal; color: #444444; border-radius: 4px; border: 1px solid #dfdfdf; padding: 4px 12px; background-color: #fbfbfb; cursor: pointer; }
.default-warn-btn-VNA.warn { color: #fff; border: 1px solid #f56c6c; background-color: #f56c6c; }
.default-warn-btn-VNA.warn:hover { border: 1px solid #f78989; background-color: #f78989; }
.default-warn-btn-VNA.warn.disabled { background: #fab6b6; border: 1px solid #fab6b6; cursor: not-allowed; }
.default-warn-btn-VNA.warn.disabled:hover { cursor: not-allowed; }

#tips_pop {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  display: none;
}
#tips_pop .tips_text {
  color: #67c23a;
  background: #f0f9eb;
  padding: 12px 20px;
  font-size: 16px;
  line-height: 44px;
}


.VNA_container {
  padding: 10px;
  font-size: 14px;
}
.tab_container .tab_head {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  border-left: 1px solid #e4e7ed;
  border-bottom: 1px solid #e4e7ed;
}
.tab_container .select_style {
  padding: 4px 3px;
  height: 30px;
  border: 1px solid #dcdfe6;
  width: 180px;
  outline: none;
  font-size: 18px;
}
.tab_container .select_style:focus {
  outline: none;
}

.tab_head .tab_title {
  border-bottom: none;
  margin-bottom: -1px;
}
.tab_head .tab_title li {
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #303133;
  border-right: 1px solid #e4e7ed;
  border-top: 1px solid #e4e7ed;
  /* border-bottom: 1px solid transparent;
  _border-bottom-color: tomato;
  _filter: chroma(color=tomato); */
  cursor: pointer;
}
.tab_head .tab_title li:first-child {
  border-left: 1px solid #e4e7ed;
}
.tab_head .tab_title li:hover {
  color: #409EFF;
}
.tab_head .tab_title li.active {
  color: #409EFF;
  border-bottom: 1px solid #fff;
}
.tab_head .codes_select {
  position: absolute;
  left: 50%;
  top: 0;
  width: 180px;
  margin-left: -90px;
}
.head_info {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 30p'x;
}
.head_info .back_login {
  padding-left: 12px;
  color: #409EFF;
  text-decoration: underline;
  cursor: pointer;
}

.tab_content {
  font-size: 16px;
  color: #606266;
}
.tab_content .tab_item {
  display: none;
}
.tab_content .tab_item.show {
  display: block;
}
.tab_content .name {
  line-height: 30px;
}
.tab_content .form_item {
  display: inline-block;
  *display: inline;
  margin-left: 12px;
}
.tab_content .operate_btn {
  margin-top: 10px;
}
.tab_content .operate_btn button {
  font-size: 16px;
  margin-right: 10px;
  line-height: 20px;
  font-family: '微软雅黑'; 
}

.material_tab_content {
  margin-top: 10px;
  border: 1px solid #e4e7ed;
  overflow-y: auto;
}

.VNA_table_style {
  border-collapse: collapse;
  width: 100%;
}
.VNA_table_style th {
  border-bottom: solid 1px #ebeef5;
  border-right: solid 1px #ebeef5;
  text-align: center;
  padding: 4px;
  background: #c7d6ee;
  font-weight: normal;
  color: #333333;
}
.VNA_table_style td {
  border-bottom: solid 1px #ebeef5;
  text-align: center;
  padding: 4px;
  color: #333333;
}

.bottom_tab_content {
  margin-top: 10px;
  padding: 0 20px;
}
.bottom_tab_content .tab_left, .bottom_tab_content .tab_right {
  float: left;
  width: 50%;
}
.bottom_tab_content .bottom_tab {
  width: 100%;
  border: 1px solid #ebeef5;
  overflow-y: auto;
}
.bottom_tab_content .location_hd, .bottom_tab_content .putaway_hd {
  font-size: 18px;
  font-weight: bold;
}
.bottom_tab_content .putaway_hd .putaway_hd_r {
  float: right;
  color: #f56c6c;
}
.bottom_tab_content .tab_center {
  width: 80%;
  margin: 0 auto;
}

/* -------拣货样式----- */
.wave_tab_content {
  margin-top: 10px;
  border: 1px solid #e4e7ed;
  overflow-y: auto;
}
.wave_detail_tab_content {
  margin-top: 10px;
  border: 1px solid #e4e7ed;
  overflow-y: auto;
}
.wave_detail_form {
  font-size: 16px;
  color: #606266;
  margin-top: 10px;
}
.wave_detail_form .name {
  line-height: 30px;
}
.wave_detail_form input {
  line-height: 22px;
  padding: 4px 3px;
  border: 1px solid #dcdfe6;
  width: 180px;
  outline: none;
  font-size: 16px;
  font-family: "微软雅黑";
}
.wave_detail_form button {
  outline: none;
  font-size: 16px;
  font-family: "微软雅黑";
}
